$main:#E59285;
$semimain:#FFF8F6;
$white:#fff;
$light:#f6f6f6;
$lightgrey:#666666;
$grey1:#8F8D8D;
$grey2:#585757;
$black:#231F1F;
$lightpink:#F9E4E0;
$yellow: #F5EB09;
@font-face 
{
    font-family: quicksand-r;
    src: url("../fonts/Quicksand-Regular.ttf");
}
@font-face 
{
    font-family: quicksand-md;
    src: url("../fonts/Quicksand-Medium.ttf");
}
@font-face 
{
    font-family: quicksand-sb;
    src: url("../fonts/Quicksand-SemiBold.ttf");
}
@font-face 
{
    font-family: quicksand-b;
    src: url("../fonts/Quicksand-Bold.ttf");
}
@font-face 
{
    font-family: inter-r;
    src: url("../fonts/Inter_18pt-Regular.ttf");
}
@font-face 
{
    font-family: inter-sb;
    src: url("../fonts/Inter_18pt-SemiBold.ttf");
}
body,input,button,textarea
{
    margin: 0;
    font-family: quicksand-r;
}
p,h1,h2,h3,h4,h5,h6
{
    margin: 0;
    font-weight: normal;
}
.reset-list
{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.reset-link
{
    text-decoration: none;
}
@media screen and (min-width:1700px)
{
    .container
    {
        max-width: 1700px;
    }
}
@mixin respond($breakpoint)
{
    @if $breakpoint==xl
    {
        @media screen and (max-width:1399px)
        {
            @content;
        }
    }
    @if $breakpoint==lg
    {
        @media screen and (max-width:1199px)
        {
            @content;
        }
    }
    @if $breakpoint==md
    {
        @media screen and (max-width:991px)
        {
            @content;
        }
    }
    @if $breakpoint==sm
    {
        @media screen and (max-width:767px)
        {
            @content;
        }
    }
    @if $breakpoint==xs
    {
        @media screen and (max-width:575px)
        {
            @content;
        }
    }
}
.btn-dangky
{
    height: 44px;
    padding: 0 24px;
    color: $white;
    background-color: $main;
    border-radius: 22px;
    font-size: 18px;
    font-family: quicksand-md;
    border: none;
}
.top-bar
{
    border-bottom: 1px solid $lightgrey;
    font-size: 13px;
    color: $grey1;
    line-height: 30px;
    .top-left
    {
        span
        {
            font-family: inter-sb;
        }
    }
    .top-center
    {
        text-align: center;
        a
        {
            color: $main;
            font-family: inter-sb;
            @extend .reset-link;
        }
    }
    .top-right
    {
        ul
        {
            @extend .reset-list;
            display: flex;
            justify-content: flex-end;
            li
            {
                a
                {
                    @extend .reset-link;
                    color: $grey1;
                    padding-left: 24px;
                }
            }
        }
    }
}
.header
{
    .form-search
    {
        display: flex;
        border: 1px solid $lightgrey;
        height: 40px;
        padding: 0;
        margin-top: 15px;
        button
        {
            width: 40px;
            height: 40px;
            background: none;
            color: $black;
            border: none;
        }
        input
        {
            flex-grow: 1;
            height: 40px;
            border: none;
            background: none;
            padding-left: 1rem;
            outline: none !important;
        }
    }
}
#navbarSupportedContent
{
    .navbar-nav
    {
        justify-content: center;
        width: 100%;
        .nav-item
        {
            .nav-link
            {
                padding-left: 16px;
                padding-right: 16px;
                &.active
                {
                    color: $main;
                }
            }
        }
    }
}
.header
{
    @include respond(sm)
    {
        .navbar-brand
        {
            img
            {
                width: 60%;
            }
        }
    }
}
#banner
{
    .banner-item
    {
        .owl-caption
        {
            position: absolute;
            top: 20%;
            left: 15%;
            h1
            {
                font-size: 70px;
                color: $black;
                font-family: inter-sb;
            }
            p
            {
                 font-size: 20px;
                 color: $grey1;
                 font-family: quicksand-md;
            }
            button
            {
                @extend .btn-dangky;
                border-radius: 5px;
                margin-top: 10px;
            }
        }
    }
    @include respond(lg)
    {
        .banner-item
        {
            .owl-caption
            {
                h1
            {
                font-size: 31px;
                color: $black;
                font-family: inter-sb;
            }
            p
            {
                font-size: 11px;
                color: $grey1;
                font-family: quicksand-md;
            }
            }
        }
    }
    @include respond(lg)
    {
        .banner-item
        {
            .owl-caption
            {
            h1
            {
                font-size: 24px;
                color: $black;
                font-family: inter-sb;
            }
            p
            {
                font-size: 9px;
                color: $grey1;
                font-family: quicksand-md;
            }
            }
        }
    }
    @include respond(xs)
    {
        .banner-item
        {
            .owl-caption
            {
                top: 10%;
            h1
            {
                font-size: 14px;
                color: $black;
                font-family: inter-sb;
            }
            p
            {
                font-size: 8px;
                color: $grey1;
                font-family: quicksand-md;
            }
            .btn-dangky
            {
                font-size: 13px;
                height: 36px;
                padding: 0 16px;
            }
            }
        }
    }
}
.section-title
{
    text-align: center;
    padding: 60px 0 20px 0;
    h1
    {
        font-size: 31px;
        color: $main;
    }
    p
    {
        font-size: 20px;
        color: $grey1;
    }
}
#acc-pr-detail
{
    .accordion-item
    {
        .accordion-body
        {
            margin: 24px 0;
        }
        .accordion-header
        {
            margin: 36px 0;
        }
    }
    @include respond(lg)
    {
        .accordion-item
    {
        .accordion-body
        {
            margin: 16px 0;
        }
        .accordion-header
        {
            margin: 16px 0;
        }
    }
    }
}
#categories
{
    .cat-item
    {
        text-align: center;
        a
        {
            @extend .reset-link;
            h3
            {
                font-size: 25px;
                font-family: quicksand-md;
                color: $grey1;
            }
        }
    }
    .owl-dots
    {
        display: block !important;
    }
    .own-nav
    {
        display: none !important;
    }
}
.pr-rating
{
    display: flex;
    width: 100%;
    justify-content: center;
    i
    {
        color: $yellow;
        margin: 0 3px;
    }
}
.pr-item
{
    margin-bottom: 24px;
    text-align: center;
    .pr-img
    {
        position:relative;
        overflow: hidden;
        .pr-tag
        {
            background-color: $main;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 13px;
            color: $white;
            text-align: center;
            line-height: 40px;
        }
        .pr-rating
        {
            position: absolute;
            bottom: 20px;
            left: 0;
        }
        .pr-icon
        {
            position: absolute;
            top: 20px;
            right: 20px;
            @extend .reset-list;
            display: flex;
            flex-direction: column;
            opacity: 0;
            transition: all 0.5s;
            li
            {
                width: 44px;
                line-height: 44px;
                text-align: center;
                color: $grey2;
                font-size: 13px;
                background: $white;
                margin-bottom: 10px;
                box-shadow: 4px 4px 4px 0 rgb(0,0,0,0.25);
            }
        }
    }
    .pr-name
    {
        @extend .reset-link;
        color: $black;
        font-family: quicksand-b;
        font-size: 20px;
        padding: 8px 0;
        line-height: 35px;
    }
    .pr-price
    {
        display: flex;
        justify-content: space-between;
        .old-price
        {
            font-size: 20px;
            color: $grey2;
            text-decoration: line-through;
        }
        .new-price
        {
            font-family: quicksand-b;
            font-size: 20px;
            color: $main;
        }
    }
    &:hover
    {
        .pr-img
        {
            img
            {
                transform: scale(1.1);
                transition: all 1s;
            }
            .pr-icon
            {
                opacity: 1;
                transition: all 1s;
            }
        }
    }
}
.blog-item
{
    a
    {
        @extend .reset-link;
        color: $main;
        .blog-date
        {
            font-size: 13px;
            color: $grey1;
            padding-top: 10px;
        }
        .blog-title
        {
            font-size: 31px;
            font-family: quicksand-b;
            color: $black;
            padding: 8px 0;
        }
        .blog-des
        {
            font-size: 16px;
            line-height: 26px;
            color: $grey2;
        }
        .blog-link
        {
            color: $main;
            font-size: 13px;
        }
    }
}
.bg-footer
{
    background-color: $semimain;
    margin-top: 60px;
    padding: 40px 0;
    .col-info
    {
        border-right: 1px solid $main;
        p
        {
            line-height: 35px;
            font-size: 16px;
            padding-top: 40px;
        }
    }
    .col-footer
    {
        .footer-title
        {
            font-size: 30px;
            color: $black;
            font-family: quicksand-b;
            padding: 30px 0 60px 0;
        }
        h4
        {
            color: $main;
            font-size: 30px;
            font-family: quicksand-b;
            padding-bottom: 7px;
        }
        p
        {
            line-height: 35px;
            font-size: 16px;
            padding-top: 24px;
        }
        .footer-nav
        {
            @extend .reset-list;
            display: flex;
            flex-direction: column;
            li
            {
                a
                {
                    @extend .reset-link;
                    line-height: 35px;
                    font-size: 16px;
                    color: $grey2;
                }
            }
        }
    }
    .footer-line
    {
        height: 1px;
        background-color: $main;
        margin-top: 24px;
    }
    .copyright
    {
        line-height: 40px;
    }
    @include respond(md)
    {
        .col-info
        {
            border: none;
        }
    }
}
.backtotop
{
    display: block;
    width: 60px;
    line-height: 60px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $main;
    color: $white;
    z-index: 1000;
}
.bg-breadcrumd
{
    background-color: $semimain;
    text-align: center;
    padding: 24px 0;
    margin-top: 2px;
    .page-title
    {
        font-size: 62px;
        font-family: quicksand-b;
        color: $black;
    }
    .breadcrumb
    {
        justify-content: center;
        .breadcrumb-item
        {
            a
            {
                @extend .reset-link;
                font-size: 16px;
                color: $grey2;
            }
            &.active
            {
                color: $main;
            }
        }
    }
}
.line
{
    height: 1px;
    background-color: $lightpink;
    margin: 16px 0;
}
#sidebar
{
    margin-top: 60px;
    .sidebar-title
    {
        font-size: 25px;
        font-family: quicksand-sb;
        color: $black;
    }
    .sidebar-group
    {
        .sidebar-group-title
        {
            font-size: 20px;
            font-family: quicksand-sb;
            color: $grey2;
            padding:0 0 8px 0;
        }
        p
        {
            font-size: 13px;
            color: $grey1;
        }
        .form-check
        {
            margin: 10px 0;
            .form-check-label
            {
                font-size: 13px;
                color: $grey1;
            }
        }
        .price-range
        {
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
            .price-field
            {
                background-color: $white;
                border: 1px solid $lightgrey;
                border-radius: 20px;
                display: flex;
                width: 40%;
                overflow: hidden;
                p
                {
                    width: 50px;
                    padding-left: 16px;
                    line-height: 40px;
                }
                input
                {
                    flex-grow: 1;
                    border: none;
                    outline: none;
                    max-width: 100px;
                    line-height: 38px;
                }                
            }
        }
    }
    #sidebar-close
    {
        background: none;
        border: none;
        position: absolute;
        top: 10px;
        right: 10px;
        display: none;
    }
    @include respond(md)
    {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: $white;
        height: 100vh;
        width: 80%;
        overflow: scroll;
        padding: 0 16px;
        margin: 0;
        #sidebar-close
        {
            display: block;
        }
    }
}
#btn-sidebar
{
    border: none;
    background-color: $main;
    color: $white;
    border-radius: 5px;
    padding: 0 16px;
    height: 40px;
    margin: 16px 0;
    display: none;
    @include respond(md)
    {
        display: block;
    }
}
.bg-testimonial
{
    background-color: $semimain;
    padding: 40px 0;
    .testimonial-box
    {
        width: 50%;
        margin: 0 auto;
    }
}
#testimonial
{
    .testimonial-item
    {
        padding: 30px 12px;
         .testimonial-user
        {            
            display: flex;
            justify-content: center;
            img
            {
                width: 100px;
                border-radius: 50px;
            }
        }
        .testimonial-content
        {   
            h3
            {
                font-size: 25px;
                font-family: quicksand-sb;
                color: $black;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
        .testimonial-info
            {
                h5
                {
                    padding-left: 24px;
                    text-align: center;
                }
            }
    }
}